.ant-form {
    max-height: calc(-200px + 90vh);
    overflow-y: auto;
    padding: 14px 0.3rem;
    overflow-x: hidden;
}

.rule-table{
    .ant-table-cell{
        font-size: 0.8rem !important;
    }
}



